.social-login
    .social__title
        a Sign Up Using :
    .login-to
        button.social-login--github
            span
                i.fab.fa-github
            |Github
        button.social-login--facebook
            span
                i.fab.fa-facebook
            |Facebook