extends layouts/main

block content
    .user-profile
        .user-profile__header
            img.avatar(src=user.avatarUrl)
            h4.profile__username=user.name
            a(href=`/users${routes.editProfile}`)
                button 
                    i.fas.fa-pen 
                        |Edit-Profile