extends layouts/main

block content
    .user-profile
        .user-profile__header
            img.avatar(src=user.avatarUrl)
        h4.profile__username=user.name
        if loggedUser && user.id === loggedUser.id
            .user-profile__btns
                a.edit_profile(href=`/users${routes.editProfile}`)
                    button
                        i.fas.fa-pen 
                            |프로필수정
                a.change_password(href=`/users${routes.changePassword}`)
                    button
                        i.fas.fa-key 
                            |비밀번호 변경