.social-login
    .social__title
        a 소셜로그인 :
    .login-to
        button.social-login--github
            a(href=routes.gitHub)
                span
                    i.fab.fa-github
                |Github
        button.social-login--facebook
            a(href=routes.facebook)
                span
                    i.fab.fa-facebook
                |Facebook