.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .video__player {
    width: 100%;
    text-align: center;
    #video {
      text-align: center;
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-bottom: 56.26%;
      object-fit: cover;
      background-color: black;
      border-radius: 5px;
      video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    a {
      width: 100px;
      button {
        width: 100%;
      }
      margin-bottom: 25px;
    }
    .video__views,
    .video__description {
      line-height: 1.7em;
      white-space: pre;
      display: block;
    }
    .video__title {
      line-height: 1.7em;
      font-size: 22px;
      font-weight: bold;
      display: block;
    }
    .upload__info {
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      .video__views {
        font-size: 14px;
      }
      .avatar {
        display: flex;
        flex-direction: row;
        img {
          border-radius: 50px;
          width: 75px;
          height: 75px;
          object-fit: cover;
          margin-right: 25px;
        }

        .video__author {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          height: 100%;
          justify-content: center;

          a {
            color: #3498db;
            font-weight: bold;
          }
          .creator {
            margin-bottom: 15px;
          }
          .video__description {
            margin-bottom: 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .video__comments {
    width: 850px;
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      input {
        margin-top: 25px;
        width: 100%;
        max-width: none !important;
        border-style: none;
        box-shadow: none;
        border-bottom: 1px solid black;
      }
    }
  }
}
